.wrapper {
  padding: 10px;
  margin-left: 82px;
  padding-top: 75px;
  background: var(--second-bg-color);
  color: var(--main-color);
  transition: margin-left .5s;
  height: 100vh;
}

.wrapper.expand {
  margin-left: 250px;
}