 .navbar {
   display: flex;
   flex-direction: row;
   background: var(--main-bg-color);
   color: var(--main-color);
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 101;
   box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
 }

 .navbar-nav {
   list-style: none;
   display: flex;
   flex-direction: row;
   padding-left: 0;
   margin-bottom: 0;
   margin-top: 0;
   margin-left: 1rem;
 }

 .nav-left {
   justify-content: space-between;
   align-items: space-between;
 }

 .fa-react {
   font-size: 1.8rem !important;
 }

 .logo-container {
   width: 100%;
   display: flex;
   display: row;
   justify-content: flex-start;
   align-items: center;
   margin-left: 35px;
 }

 .logo-container > h2{
   margin-left: 15px;
 }

 @media screen and (max-width: 600px) {
  .logo-container{
    margin-left: 15px;
  }
  .logo-container > h2{
    font-size: 1.1rem;
    margin-left: 10px;
  }
 }

 .nav-item {
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 .nav-link {
   float: left;
   text-align: center;
   padding: 21px 10px;
   text-decoration: none;
   font-size: 17px;
   color: var(--second-color);
   position: relative;
 }

 .nav-link:hover {
   cursor: pointer;
 }

 .navbar-nav i {
   font-size: 1.4rem;
 }

 .nav-right {
   margin-left: auto;
 }

 /* .navbar-search {
   position: relative;
   margin: auto 0;
   width: 40%;
 }

 .navbar-search input {
   background: var(--second-bg-color);
   border: none;
   padding: 12px 50px 12px 50px;
   width: 100%;
   outline: none;
   color: var(--main-color);
   border-radius: 20px;
 }

 .navbar-search i {
   position: absolute;
   top: 50%;
   right: 20px;
   transform: translateY(-50%);
   color: var(--second-color);
   cursor: pointer;
 } */

 .avt {
   padding: 11px
 }

 .navbar-badge {
   font-size: .6rem;
   padding: 2px 4px;
   font-weight: 300;
   position: absolute;
   right: 5px;
   top: 9px;
   color: #fff;
   background: var(--danger-color);
   border-radius: 5px;
 }

 .avt img {
   width: 39px;
   height: 39px;
   border-radius: 50%;
 }

 .dropdown {
   position: relative;
 }

 .dropdown:hover {
   cursor: pointer;
 }

 .dropdown-menu {
   list-style: none;
   display: none;
   flex-direction: column;
   position: absolute;
   right: 20%;
   top: 90%;
   background: var(--main-bg-color);
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
   padding: unset;
   border-radius: 10px;
   border: 0.125px solid var(--second-bg-color);
   min-width: 380px;
 }

 .dropdown-expand {
   display: flex;
 }

 .dropdown-menu-content {
   max-height: 500px;
   overflow-y: auto;
 }

 .dropdown-menu-item {
   width: 100%;
 }

 .dropdown-menu-link {
   display: flex;
   flex-direction: row;
   align-items: center;
   text-decoration: none;
   color: var(--main-color);
 }

 .dropdown-menu-link div {
   min-width: 82px;
   height: 50px;
   position: relative;
 }

 .dropdown-menu-link i {
   font-size: 1.25rem;
   color: var(--second-color);
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
 }

 .dropdown-menu-link span {
   font-size: 15px;
   width: 298px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
 }

 .dropdown-menu-link span>span {
   font-size: 10px;
 }

 .dropdown-menu-link:hover {
   cursor: pointer;
   background: var(--second-bg-color);
 }

 .dropdown-menu-header {
   padding: 20px;
   text-align: center;
   border-bottom: 1px solid var(--second-bg-color);
 }

 .dropdown-menu-footer {
   padding: 20px;
   text-align: center;
   border-top: 1px solid var(--second-bg-color);
 }

 .overlay-scrollbar::-webkit-scrollbar {
   width: 9px;
   height: 9px;
   display: none;
 }


 .overlay-scrollbar:hover::-webkit-scrollbar {
   display: block;
 }

 .overlay-scrollbar::-webkit-scrollbar-thumb {
   background-color: rgba(0, 0, 0, 0.4);
   border-radius: 10rem;
   border: 1px solid var(--main-bg-color);
 }

 .overlay-scrollbar::-webkit-scrollbar-track-piece:start {
   background: transparent;
 }

 .overlay-scrollbar::-webkit-scrollbar-track-piece:end {
   background: transparent;
 }